# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

icon.eps

icon.iconset/icon_128x128.png

icon.iconset/icon_128x128@2x.png

icon.iconset/icon_16x16.png

icon.iconset/icon_16x16@2x.png

icon.iconset/icon_256x256.png

icon.iconset/icon_256x256@2x.png

icon.iconset/icon_32x32.png

icon.iconset/icon_32x32@2x.png

icon.iconset/icon_512x512.png

icon.iconset/icon_512x512@2x.png

icon.png
